[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
dagster = "==1.8.12"
dagster-dbt = "*"
dagster-slack = "*"
dagster-gcp = "*"
dagster-k8s = "*"
dagster-airbyte = "*"
dbt-bigquery = "*"
pytz = "*"
google-cloud-secret-manager = "*"
dagster-webserver = "*"

[dev-packages]

[requires]
python_version = "3.12"
python_full_version = "3.12.7"
